/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/HideNSeek.sln
/Library
/obj
/Logs
/Temp
/Assembly-CSharp-firstpass.csproj
/PlayFabSDKEditor.csproj
/PlayFabEditorExtensions.csproj
/PlayFab.csproj